<%= form_for( article_comment, :url => article_comment_create_path) do |f| %>
  <ul class="collection with-header">
    <li class="collection-item">
      <div class="row center-align">
        <div class="col s11">
          <div class="input-field">
            <%= f.hidden_field :article_id, :value => article_id %>
            <%= f.hidden_field :user_id,  :value => visitor_id %>
            <%= f.label :new_comment, for: "icon_prefix2" %>
            <%= f.text_area :response, id: "icon_prefix2", class: "materialize-textarea" %>
            <%= button_tag class: 'material-icons prefix transparent' do %> <%= content_tag :i, "send", class: "material-icons right" %><% end %>
          </div>
        </div>
      </div>
    </li>
  </ul>
<% end %>