<%= render 'routing' %>

<%= form_for(@article, url: update_article_path) do |f| %>
  <div class="container">
    <br>
    <div class="col s9">
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :head, id: 'last_name', class: 'validate blue-grey-text darken-4', style: "font-size:30px;" do %>
            <label for="last_name">Title</label>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, placeholder: 'This field supports Markdown', id:"textarea2", class:"materialize-textarea blue-grey-text darken-4", style: "font-size:22px;",  maxlength: 3000 do %>
            <label for="textarea2">Content</label>
          <% end %>
        </div>
      </div>
      <div class="row">
        <!-- Customizable input  -->
        <div class="chips chips-initial">
          <input id="tag_names" class="custom-class" name="tag_names">
        </div>
      </div>
      <div class="row">
        <%= f.submit "Save", class:"waves-effect waves-light btn-large" %>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(document).ready(function() {
        $('input#input_text, textarea#textarea2').characterCounter();
    });

    $('.chips').chips();
    var elem = $('.chips');
    var instance = M.Chips.getInstance(elem);
    <% for i in 0...@article.tag_names.size %>
      instance.addChip({
          tag: '<%= @article.tag_names[i] %>',
      });
    <% end %>

    $("form").submit(function(event) {

        /* stop form from submitting normally */
        event.preventDefault();

        /* get values from elements on the page: */
        var tag_names= JSON.stringify(M.Chips.getInstance($('.chips')).chipsData);
        var head = $('#last_name').val();
        var description = $('#textarea2').val();
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);

        /* Send the data using post and put the results in a div */
        $.ajax({
            type: "PATCH",
            url: '/articles/' + id.toString(),
            data: {
                article:
                    {
                        tag_names: tag_names,
                        head: head,
                        description: description
                    }
            },
            success: function(){
                // alert('Saved Successfully');
            },
            error:function(){
                // alert('Error');
            }
        });
    });
</script>