<%= check_for_alert %>
<ul class="collection">
  <% @articles.each  do  |article|%>
    <li class="collection-item avatar">
      <i class="material-icons circle green">book</i>
      <span class="title"><%=  article.head %></span>
<!--      <i class="material-icons circle green">book</i>-->
<!--      <p> &ensp;&ensp; <%#= vocabulary.meaning %>-->
<!--      </p>-->
      <blockquote style="font-style: italic">
        <% if article.tags.present? %>
          <%= article.tags %>
        <% end %>
      </blockquote>
      <%= link_to delete_article_path(article.id), method: :delete,  class: "secondary-content col s9" do %>
        <i class="material-icons">delete</i>
      <% end %>
      <p>
        <%= link_to "Show", article_path(article.id), method: :get %>
        &nbsp; | &nbsp;
        <%= link_to "Edit", edit_article_path(article.id), method: :get %>
      </p>
    </li>
  <% end %>
</ul>

<ul class="pagination center">
  <%= paginate @articles %>
</ul>