<div class="parallax-container">
  <div class="parallax">
    <%= image_tag 'profile/article_bg.jpg' %>
  </div>
</div>
<div class="row">
</div>
<div class="row">
  <div class="col s12 m4 l2"></div>
  <div class="col s12 m4 l8 center-align">
    <h2 class="blue-grey-text darken-3"> My Vocabularies </h2>
  </div>
  <div class="col s12 m4 l2"></div>
</div>
<ul class="collection">
  <% @vocabularies.each  do  |vocabulary|%>
    <li class="collection-item avatar">
      <i class="material-icons circle green">book</i>
      <span class="title"><%=  vocabulary.word %></span>
      <i class="material-icons circle green">book</i>
      <p> &ensp;&ensp; <%= vocabulary.meaning %>
      </p>
      <blockquote style="font-style: italic">
        <% if vocabulary.example.present? %>
          <%= vocabulary.example %>
        <% end %>
      </blockquote>
      <%= link_to delete_vocabulary_path(vocabulary.id), method: :delete,  class: "secondary-content col s9" do %>
        <i class="material-icons">delete</i>
      <% end %>
      <%= link_to "Edit", edit_vocabulary_path(vocabulary.id), method: :get %>
    </li>
  <% end %>
</ul>

<ul class="pagination center">
  <%= paginate @vocabularies %>
</ul>


<div class="parallax-container">
  <div class="parallax">
    <%= image_tag 'profile/article_bg.jpg' %>
  </div>
</div>