<style type="text/css">
  textarea.daily-card
  {
    width: 100%;
    height: auto;
    outline: none;
    border-color: Transparent;
  }
</style>

<div class="row"></div>
<%= form_for( @note, :url => daily_create_path) do |f| %>
  <div class="container center-align">
    <div class="row">
      <div class="col s4"></div>
      <div class="col s4">
        <div class="card">
          <div class="card-image">
            <%= button_tag class: 'btn-floating halfway-fab waves-effect waves-light red' do %> <%= content_tag :i, "check", class: "material-icons" %><% end %>
          </div>
          <div class="card teal">
            <div class="card-content white-text">
              <%= f.hidden_field :user_id, value: @user.id %>
              <%= f.text_area :note, class: "daily-card", placeholder: "Note here..." %>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="col s4"></div>
    </div>
  </div>
<% end %>
<div class="row center-align">
  <div class="col s12">
    <div class="card-panel teal">
      <span class="white-text">Today</span>
    </div>
  </div>
</div>
<div class="row">
  <% @dailies.each_slice(4) do |daily1, daily2, daily3, daily4|%>
  <% [daily1, daily2, daily3, daily4].each do |daily| %>
    <% if daily.present? %>
        <div class="col s3">
          <div class="card">
            <div class="card-panel teal card-image">
              <input type="hidden" value="<%= daily.id %>" id='daily_id'>
              <textarea id="<%= daily.id %>" class="white-text daily-card materialize-textarea daily_note"><%= daily.note %></textarea>
              <%= link_to delete_note_path(daily.id), method: :delete, class: "btn-floating halfway-fab waves-effect waves-light red" do %>
                <i class="material-icons">delete</i>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
    var timeoutId;
    $('.daily_note').bind('input change', function() {
        var id = this.id;
        var note = $('#'+this.id).val();
        timeoutId = setTimeout(function() {
            // Runs 1 second (1000 ms) after the last change
            if(id != null){
                saveToDB(id, note);
            }
        }, 1000);
    });

    function saveToDB(id, note)
    {
        var myNote = this;
        $.ajax({
            type: "PATCH",
            url: "/daily",
            dataType:"json",
            data: {
                daily: {
                    user_id: id,
                    note: note
                }
            },
            success(data){
                // $('<div>', { text: myNote.value }).appendTo('body');
                // window.alert("success");

                return true;
            },
            error(data){
                // window.alert("error");
                return false;
            }
        })
    }
</script>